{% extends '@App/app.html.twig' %}

{# Hide search #}
{% set hide_search = true %}

{# Remove headline #}
{% block layout_body_sub_header_title %}{% endblock %}

{# Remove aside #}
{% block layout_body_aside_left %}{% endblock %}

{# Override body class #}
{% block body_class %}{% include "@App/_layout/default_body_class_dashboard.html.twig" %}{% endblock %}

{# Content #}
{% block page_content %}

    <div class="container">
        {%- for release in releases -%}
            <div class="row">
                <div class="col">
                    {{- release|parsedown_convert_markdown_to_html }}
                </div>
            </div>

            <hr/>
        {%- endfor -%}

        {%- if 1 < page or total_count > (page * releases_per_page) -%}

            <div class="row mb-5">
                <div class="col-12 col-sm-6">
                    {%- if 1 < page -%}
                        {%- if 2 == page -%}
                            {%- set path = path_without_space('app_default_releases') -%}
                        {%- else -%}
                            {%- set path = path_without_space('app_default_releases_page', {'page':(page - 1)}) -%}
                        {%- endif -%}
                        <a href="{{ path }}" class="btn btn-secondary">&laquo; {{ 'newer'|trans }}</a>
                    {%- endif -%}
                </div>
                <div class="col-12 col-sm-6 text-right">
                    {%- if total_count > (page * releases_per_page) -%}
                        <a href="{{ path_without_space('app_default_releases_page', {'page':(page + 1)}) }}"
                           class="btn btn-secondary">{{ 'older'|trans }} &raquo;</a>
                    {%- endif -%}
                </div>
            </div>

        {%- endif -%}
    </div>

{% endblock %}